table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

body {
  font-family: "Trebuchet MS";
  background-image: url("https://cdn.dribbble.com/users/32512/screenshots/3556927/waves_background_growing_data_by_gleb.gif");
   color:white;
}

table {
  font-family: "Trebuchet MS"
}

